/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * 
 *= require ergojs/ergojs
 * 
 *= require font-awesome
 *  
 * require_tree .
 *= require_self
 */


body {
	font-family: "Roboto",Helvetica,Arial, sans-serif;
	margin: 0;
	
}


* {
	font-size: 13px;
}





.item-box {
	position: relative;	
}

.item-box > .before {
	float: none;
	position: absolute;
	top: 50%;
	left: 0;
}

.item-box > .after {
	float: none;
	position: absolute;
	top: 50%;
	right: 0;
}



.list-box {
	color: #444;
}

.list-box > div {
	padding: 8px 8px;
	border-bottom: 1px solid #e0e0e0;
}

.list-box .remove-btn {
	right: 16px;
}
