
.nav-main {
/*  box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.3);	*/
}


/*
.nav-main {
  background-color: #37474f;
  border-bottom: 1px solid #e0e0e0;
  color: #f0f0f0;
}


.nav-main .nav-title {
	color: #f0f0f0;
}


.nav-main .menu-bar > li > a {
	color: #f0f0f0;
}
*/


.nav-clock {
  left: 0;
  padding-top: 12px;
  position: absolute;
  right: 0;
  top: 0;
}


.nav-clock, .nav-clock span {
/*  color: #777;*/
  font-size: 24px;
  text-align: center;
}


/*
.menu-bar, .menu-bar > li {
	float: none !important;
}
*/

.clock-ticker {
	animation: blinker 0.8s linear infinite alternate;	
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}